body{
  font-family: 'Montserrat', sans-serif;
}
#title{
  background-color: #03256C;
  color: #fff
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  line-height: 1.5;
}
h3{
  font-family: 'Montserrat-Bold';
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5rem;
}
h2{
  font-family: 'Montserrat-Bold';
  font-size: 3rem;
  line-height: 1.5rem;
  margin-top: 25px;
}
p{
  color: #8f8f8f
}
.container-fluid{
  padding: 3% 15%;
}
.navbar{
  padding-bottom: 4.5rem;
}
.navbar-brand{
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font: 'Montserrat', sans-serif;
}
.title-image{
  width: 90%;

}
@media (max-width:900px)  {
  #title{
    text-align: center;
  }
  .title-image{
    width: 90%;


  }


}
#features{
  padding: 7% 15%;
}
.features-box{
  text-align: center;
  padding: 5%
}
.icon{
  color: #77ACF1;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #03256C;
}
#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #77ACF1;
  color: #fff;
}
.carousel-item{
  padding: 7% 15%;
}
.testimonials-image{
  width: 30%;
  margin: 20px;
}
#Press{
  text-align: center;
  background-color: #77ACF1;
  padding-bottom: 3%;

}
.Presslogo{
  width: 10%;
  margin: 70px 70px 50px;
}
#Pricing{
  padding: 100px;
  text-align: center;
}
.Pricing-column{
  padding: 3% 2%;
}
#footer{
  padding: 7% 15%;
  background-color:#343A40;
  text-align: center;
}
.social-icon{
  margin: 20px 10px;
  color: #fff;
}
